<div class="mt-5 pt-5">
	<h3 class="h5 mt-3 text-inter">
		<%= raw text[:features_page][:final_blurb][:title] %>
	</h3>

	<p class="text-secondary mb-0 mt-3">
		<%= raw text[:features_page][:final_blurb][:p] %>
	</p>
</div>