<h1 class="mt-4 h1 text-inter">
	<%= raw text[:index][:h1] %>
</h1>

<p class="text-secondary mt-3">
	<%= raw text[:index][:h1_subtitle] %>
</p>

<div class="mt-5">
	
	<%= render 'signup_buttons' %>

</div>