<a href="<%= urls[:get_started] %>" class="btn btn-primary mt-2 py-2_5 px-4 mr-md-3 d-block d-md-inline-block">
	<%= text[:buttons][:get_started] %>
</a>

<a href="<%= urls[:demo] %>" class="btn btn-light text-secondary mt-2 py-2_5 px-4 d-block d-md-inline-block">
	<%= text[:buttons][:demo] %>
</a>