<div class="pt-3 pt-md-5 social-proof">
	
	<h3 class="mt-5 h3 text-inter">
		<%= raw text[:index][:social_proof][:title] %>
	</h3>

	<p class="mb-0 mt-3 text-secondary">
		<%= raw text[:index][:social_proof][:p] %>
	</p>

	<%= render 'recommendations' %>

</div>