<main class="container index">
	
	<div class="row">

		<div class="<%= css[:col_class] %>">
			
      <h1 class="mt-4 h1 text-inter">
        <%= raw text[:pricing][:h1] %>
      </h1>

      <p class="text-secondary mt-3">
        <%= raw text[:pricing][:h1_subtitle] %>
      </p>

      <div>[pricing blurbs with shadow and names solo, team, business]</div>
      <div>[Add plug for contact us to have bigger plan set up if needed]</div>
      <div>[Add what customers are saying (like on features page)]</div>
      <div>[Have final assurance and plug below that]</div>

		</div>

	</div>

</main>
