<header class="container my-5">
	
	<div class="row">
	
		<div class="col-6 text-left">
			<%= image_tag(logo_url) %>
		</div>

		<div class="col-6 text-right">
			<a href="<%= sign_in_url %>" class='btn btn-light rounded text-secondary'>Sign in
				<%= fa_icon "long-arrow-right", class: 'pl-1' %>
			</a>
		</div>
	
	</div>

</header>