.landing_boi.index {
	.h1 {
		font-weight: 900;
	}
	.h5, .h3 {
		font-weight: 700;
	}

	.features {
		img {
			max-height: 130px;
			max-width: 110px;
		}
	}

	.social-proof {

		.recommendations {
			p {
				font-size: 18px;
				font-style: italic;
			}

			img {
				max-height: 40px;
			}

			a:hover {
				text-decoration: none;
			}
		}
		
	}

}